# Sensitive config file
wp-config.php

# Uploads media
wp-content/uploads/

# Cache files
wp-content/cache/
wp-content/backups/

# Vendor folder (agar composer use ho raha ho)
vendor/

# Node (agar theme me build tools use ho rahe ho)
node_modules/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db
